<mat-card>
  <mat-card-header class="bg-blue-800 text-white rounded-t-lg">
    <mat-card-title class="uppercase">{{ data.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="mt-4">
    <div class="mt-8">
      <mat-card-title>PET S.A.</mat-card-title>
    </div>
    <form [formGroup]="form" class="mt-4">
      <div mat-dialog-content class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" />
            <mat-error
              *ngIf="form.get('nombre')?.invalid && form.get('nombre')?.touched"
            >
              {{ errorService.getErrorMessage(form, "nombre") }}
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Dosis</mat-label>
            <input matInput formControlName="dosis" />
            <mat-error
              *ngIf="form.get('dosis')?.invalid && form.get('dosis')?.touched"
            >
              {{ errorService.getErrorMessage(form, "dosis") }}
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Descripcion</mat-label>
            <input matInput formControlName="descripcion" />
            <mat-error
              *ngIf="
                form.get('descripcion')?.invalid &&
                form.get('descripcion')?.touched
              "
            >
              {{ errorService.getErrorMessage(form, "descripcion") }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <mat-card-actions class="mat-dialog-actions">
        <button
          mat-raised-button
          color="accent"
          class="btn"
          (click)="closepopup()"
        >
          Cancelar
        </button>
        <button
          (click)="guardarMedicamento()"
          mat-raised-button
          color="accent"
          class="btn"
          *ngIf="!data.edit"
        >
          Agregar
        </button>
        <button
          (click)="editarMedicamento()"
          mat-raised-button
          color="accent"
          class="btn"
          *ngIf="data.edit"
        >
          Editar
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
